/omnibot_yolo/omnibot_yolo/datasets
/.vscode
/omnibot_yolo/omnibot_yolo/runs/detect
/omnibot_yolo/omnibot_yolo/__pycache__
/omnibot_yolo/omnibot_yolo/object_tracking.avi
/omnibot_yolo/omnibot_yolo/yolov8n.pt
/omnibot_yolo/omnibot_yolo/yolov8x-pose.pt
/omnibot_yolo/omnibot_yolo/yolov8x.pt
/omnibot_yolo/omnibot_yolo/yolov8l.pt
/omnibot_yolo/omnibot_yolo/yolov8m.pt
/omnibot_yolo/omnibot_yolo/yolov8s.pt
/omnibot_yolo/omnibot_yolo/yolov8x-pose.pt
/omnibot_yolo/omnibot_yolo/yolov8n.pt







